// rss jade file 
extends ../../views/layout

append heads
  title xiami
append css
  style
    .notexist{background: #FFDBE2;}
    .finish{ background: #AFE4A1;}
    .inprogress{ background: yellow;}
    .unvisible { display:none;}
    .button-hide{ display: inline-block; float:right;padding: 0 20px;}
append content
  include rss-ko.html
append js
  script(src="xiami/source/app.js")   